// default color palette

$primary_color: #92AFC1;
$secondary_color: #496D8B;
$tertiery_color: #F1BD9B;
$fourth_color: #BC4C2E;
$fifth_color: #8C3F2C;
$text-color: #000000;
$text-color-white: #fff;
$text_hover_color: #dcf2ff;

form {
  width: 250px;
}

@import "sitewide";
@import "static";
@import "schools";
@import "bootstrap_style";
