<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", static_about_us_path %></li>
    <li><%= link_to "Create Quiz", new_school_path %></li>
    <li><%= link_to "Show Quizzes", schools_path %></li>
  </ul>
</nav>